html {
  font: 5vmin/1.3 Serif;
  overflow: hidden;
  background: rgb(15, 2, 26);
  z-index: 1;
}

body,
head {
  display: block;
  font-size: 52px;
  color: transparent;
  z-index: 1;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
  z-index: 1;
}

body::before {
  text-shadow: 2.3376350775em 0.2574518699em 7px rgba(255, 51, 0, 0.9), 0.3058049859em 0.8162701969em 7px rgba(0, 67, 255, 0.9), 2.2589845723em -0.2074384371em 7px rgba(189, 255, 0, 0.9), 1.5206273216em 1.9764368384em 7px rgba(0, 121, 255, 0.9), 0.949465839em 0.1105132761em 7px rgba(255, 0, 252, 0.9), 2.1240430747em 2.2535435717em 7px rgba(0, 135, 255, 0.9), 1.1065316086em 2.0277930943em 7px rgba(0, 255, 77, 0.9), 0.2840908645em -0.2013985305em 7px rgba(7, 255, 0, 0.9), -0.1377325081em 0.2456989737em 7px rgba(0, 2, 255, 0.9), 2.4370766049em 0.374756373em 7px rgba(165, 255, 0, 0.9), -0.3089242506em -0.2463510792em 7px rgba(67, 255, 0, 0.9), 0.3389238457em -0.0599159635em 7px rgba(0, 10, 255, 0.9), 0.4551449526em 2.0914702941em 7px rgba(157, 255, 0, 0.9), -0.374874619em -0.162606295em 7px rgba(255, 0, 141, 0.9), 2.0301971929em 1.2981799789em 7px rgba(0, 255, 89, 0.9), 2.0777409617em 0.0633524281em 7px rgba(0, 255, 42, 0.9), 1.2241522066em 2.4253745846em 7px rgba(115, 255, 0, 0.9), 2.0745560083em 1.3616229397em 7px rgba(255, 165, 0, 0.9), 2.0292259416em 0.0524366695em 7px rgba(236, 255, 0, 0.9), -0.2778172268em -0.2511460194em 7px rgba(255, 19, 0, 0.9), 0.4309051094em 0.3001551741em 7px rgba(0, 255, 54, 0.9), 1.3913595911em 2.3891911643em 7px rgba(212, 255, 0, 0.9), 0.7004057034em 1.5392427354em 7px rgba(149, 255, 0, 0.9), 2.3028874958em -0.4585374059em 7px rgba(226, 255, 0, 0.9), 0.4217755976em 0.7981122943em 7px rgba(255, 150, 0, 0.9), 0.6554009022em -0.1444068916em 7px rgba(0, 255, 8, 0.9), 2.3689525371em 0.1822075587em 7px rgba(0, 255, 86, 0.9), -0.1189906099em -0.4463160229em 7px rgba(0, 255, 251, 0.9), 0.7917318651em 0.3742586467em 7px rgba(0, 55, 255, 0.9), 1.986659615em 0.3773452929em 7px rgba(255, 53, 0, 0.9), 1.9092003921em 0.1214374084em 7px rgba(146, 0, 255, 0.9), 1.0402061195em 1.5337611945em 7px rgba(0, 255, 202, 0.9), 2.4954824965em 1.533900551em 7px rgba(0, 216, 255, 0.9), 1.4632649001em 0.6249858723em 7px rgba(223, 0, 255, 0.9), 1.4233942645em 2.1218030466em 7px rgba(255, 0, 184, 0.9), 0.3067167321em 0.3818902728em 7px rgba(255, 150, 0, 0.9), -0.3698719683em 0.1768111604em 7px rgba(13, 255, 0, 0.9), 1.6254260089em 2.3503345548em 7px rgba(57, 255, 0, 0.9), 0.1427651246em 1.061258782em 7px rgba(26, 255, 0, 0.9), 0.2703342143em -0.1257374072em 7px rgba(53, 0, 255, 0.9), -0.1370460879em 0.5000955959em 7px rgba(255, 32, 0, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
  z-index: 1;
}

body::after {
  text-shadow: 0.3515431377em 2.2126909281em 7px rgba(0, 228, 255, 0.9), 2.1425042785em 1.1142946205em 7px rgba(255, 136, 0, 0.9), 1.5003575836em 1.693897496em 7px rgba(0, 157, 255, 0.9), 1.6953700411em 0.2732320134em 7px rgba(0, 132, 255, 0.9), 1.7206156515em 1.065699699em 7px rgba(255, 0, 156, 0.9), 1.0249988619em 1.3650790353em 7px rgba(123, 0, 255, 0.9), 2.3476847975em -0.4311465185em 7px rgba(255, 0, 9, 0.9), 2.4766562063em 2.347798926em 7px rgba(255, 49, 0, 0.9), 1.9087893534em 0.1757875626em 7px rgba(0, 255, 35, 0.9), -0.0578731496em 2.2105959419em 7px rgba(255, 0, 198, 0.9), 2.3248148382em 0.547395276em 7px rgba(199, 0, 255, 0.9), -0.4629212847em 2.3481727322em 7px rgba(255, 139, 0, 0.9), 1.7509055643em 0.6240549806em 7px rgba(0, 255, 23, 0.9), 0.3461551577em -0.4121930285em 7px rgba(255, 0, 224, 0.9), 1.4983159781em 2.3752366975em 7px rgba(0, 255, 69, 0.9), 1.0948257861em 1.6777961196em 7px rgba(0, 130, 255, 0.9), 1.9116559788em 2.0499215732em 7px rgba(0, 246, 255, 0.9), 1.1591815354em 1.4636422407em 7px rgba(40, 0, 255, 0.9), -0.0344532037em -0.471527965em 7px rgba(0, 255, 173, 0.9), -0.3696648545em 0.7821563765em 7px rgba(0, 58, 255, 0.9), -0.2662230007em 0.4876558435em 7px rgba(255, 0, 229, 0.9), 0.6626174211em 0.3207491588em 7px rgba(0, 255, 24, 0.9), 1.9029355604em -0.0393342853em 7px rgba(0, 249, 255, 0.9), -0.3802062248em 1.5777586324em 7px rgba(222, 255, 0, 0.9), 0.2565223304em 1.2764877926em 7px rgba(0, 255, 149, 0.9), 0.2569668497em 1.5555922413em 7px rgba(0, 255, 59, 0.9), 2.1023461274em 2.3685837247em 7px rgba(255, 9, 0, 0.9), 2.4231018007em -0.0664685262em 7px rgba(46, 255, 0, 0.9), 1.8913383408em 2.3893937346em 7px rgba(53, 0, 255, 0.9), 0.8731727081em 1.0717534731em 7px rgba(255, 14, 0, 0.9), 1.7773854519em -0.2076922008em 7px rgba(0, 217, 255, 0.9), 0.857723091em 1.4053763175em 7px rgba(0, 255, 167, 0.9), 1.4342834223em 2.1109745216em 7px rgba(0, 255, 118, 0.9), 1.2784258601em 1.4942157265em 7px rgba(0, 16, 255, 0.9), 0.3257528409em 0.5073449748em 7px rgba(255, 114, 0, 0.9), 1.6066412775em 2.2317892152em 7px rgba(0, 255, 18, 0.9), 1.8677419955em -0.3973577248em 7px rgba(0, 255, 1, 0.9), 2.2954453357em 1.2009143226em 7px rgba(0, 97, 255, 0.9), 2.1550897051em 2.0733827251em 7px rgba(250, 0, 255, 0.9), 1.1492179088em 1.4651597733em 7px rgba(0, 127, 255, 0.9), 0.7182494399em 1.9722114062em 7px rgba(174, 255, 0, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
  z-index: 1;
}

head::before {
  text-shadow: 1.5568620144em -0.3858146384em 7px rgba(0, 255, 159, 0.9), 1.9574369378em 0.4848130638em 7px rgba(0, 255, 58, 0.9), 0.1237882075em 0.8467082137em 7px rgba(118, 0, 255, 0.9), 1.319235924em 1.602913947em 7px rgba(11, 0, 255, 0.9), 1.9078311285em 1.2321598337em 7px rgba(0, 46, 255, 0.9), 1.8209154483em 2.1878743792em 7px rgba(255, 234, 0, 0.9), 0.980014587em -0.3771915468em 7px rgba(0, 40, 255, 0.9), 1.5979366674em 0.1910540453em 7px rgba(255, 126, 0, 0.9), 0.5186080239em 1.8022878871em 7px rgba(255, 0, 239, 0.9), 1.8443900931em 0.4482181979em 7px rgba(0, 255, 192, 0.9), 2.0101563759em 0.3977725279em 7px rgba(0, 107, 255, 0.9), 1.0949521162em 0.5468441084em 7px rgba(129, 0, 255, 0.9), 2.4193815865em -0.2483523563em 7px rgba(73, 255, 0, 0.9), 1.226177028em -0.3967904486em 7px rgba(110, 0, 255, 0.9), 2.1346127982em 1.1187896169em 7px rgba(0, 255, 154, 0.9), 1.0205666045em 1.8319662179em 7px rgba(0, 255, 232, 0.9), 0.5657928738em -0.0431160924em 7px rgba(255, 0, 161, 0.9), 0.150799735em 0.0974738156em 7px rgba(255, 49, 0, 0.9), 0.9048721677em 0.446410364em 7px rgba(0, 255, 24, 0.9), 0.7917777556em 0.67487168em 7px rgba(0, 46, 255, 0.9), 1.6152935431em 1.1916626183em 7px rgba(255, 0, 212, 0.9), 0.8428626937em 0.2269650338em 7px rgba(0, 255, 52, 0.9), 1.8581812361em -0.1647501425em 7px rgba(126, 255, 0, 0.9), 2.0719736326em -0.4336784056em 7px rgba(255, 0, 110, 0.9), 0.3764370572em 2.3068481508em 7px rgba(0, 206, 255, 0.9), 2.3050826312em 0.4940775164em 7px rgba(0, 255, 211, 0.9), 1.4955665555em 0.8571858273em 7px rgba(7, 0, 255, 0.9), -0.2164312303em 0.8202325452em 7px rgba(0, 186, 255, 0.9), 1.7517960909em 1.3767462682em 7px rgba(194, 0, 255, 0.9), -0.3781131337em 0.2456787809em 7px rgba(34, 0, 255, 0.9), 1.5737085034em 0.1801421269em 7px rgba(10, 0, 255, 0.9), 2.4789859322em 2.4283434167em 7px rgba(255, 0, 197, 0.9), 0.4295232581em 0.8454689568em 7px rgba(255, 98, 0, 0.9), -0.0570734934em 1.5519822566em 7px rgba(0, 32, 255, 0.9), -0.1959790908em 0.3277414954em 7px rgba(0, 199, 255, 0.9), 0.9610324028em -0.2658675077em 7px rgba(255, 0, 33, 0.9), 1.5939967714em 1.1545480871em 7px rgba(0, 205, 255, 0.9), 0.0720222744em 1.6021355556em 7px rgba(25, 255, 0, 0.9), 0.3429151703em 2.41114912em 7px rgba(255, 0, 29, 0.9), 2.4323596863em 1.6600100006em 7px rgba(205, 255, 0, 0.9), 1.6008077477em 1.5435314847em 7px rgba(91, 0, 255, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
  z-index: 1;
}

head::after {
  text-shadow: 1.1529083473em -0.0232716998em 7px rgba(0, 191, 255, 0.9), 0.2488958652em 1.5850952931em 7px rgba(0, 255, 153, 0.9), 1.4818422059em 2.1408969705em 7px rgba(255, 39, 0, 0.9), 0.2818355489em 2.493752861em 7px rgba(29, 0, 255, 0.9), 0.8187599636em 2.3738514775em 7px rgba(255, 169, 0, 0.9), -0.3111646268em -0.1194341758em 7px rgba(191, 0, 255, 0.9), 1.9240897206em 2.0720427768em 7px rgba(152, 0, 255, 0.9), 1.6706837356em 0.6970080518em 7px rgba(255, 0, 252, 0.9), 1.6763250974em 0.2085360216em 7px rgba(172, 255, 0, 0.9), 0.0485118026em 1.0793506734em 7px rgba(28, 255, 0, 0.9), 1.378427313em -0.4339622408em 7px rgba(228, 255, 0, 0.9), 0.5026392333em -0.0525423183em 7px rgba(255, 56, 0, 0.9), 1.0338085933em 0.3590327839em 7px rgba(255, 213, 0, 0.9), 1.5247392942em 1.9419859159em 7px rgba(124, 0, 255, 0.9), 1.8041168463em 1.306304651em 7px rgba(0, 255, 13, 0.9), 0.2543053213em 0.0681952788em 7px rgba(255, 161, 0, 0.9), 2.1423109043em 1.0891213959em 7px rgba(0, 105, 255, 0.9), -0.2796171732em 0.8615987299em 7px rgba(0, 255, 209, 0.9), 2.1337375372em 0.2642199459em 7px rgba(255, 154, 0, 0.9), 1.7938750768em -0.0264663891em 7px rgba(0, 255, 146, 0.9), 1.1252326282em 2.4723060506em 7px rgba(228, 255, 0, 0.9), 0.164272993em 0.3629382971em 7px rgba(185, 0, 255, 0.9), 0.3647741514em 1.2878826013em 7px rgba(0, 255, 247, 0.9), 2.3987069373em 0.8076830745em 7px rgba(0, 255, 201, 0.9), 2.2966706639em 1.1919349546em 7px rgba(0, 48, 255, 0.9), -0.0273300037em 2.0575096546em 7px rgba(255, 0, 246, 0.9), 0.148787105em 1.6402155187em 7px rgba(255, 94, 0, 0.9), -0.1176533936em -0.3062153166em 7px rgba(79, 255, 0, 0.9), 1.5289527034em -0.3798660271em 7px rgba(211, 0, 255, 0.9), -0.4437870634em 1.577570249em 7px rgba(0, 255, 33, 0.9), -0.168978226em 0.9382685073em 7px rgba(148, 255, 0, 0.9), 0.020505696em 2.4996913434em 7px rgba(120, 255, 0, 0.9), 2.1257987155em 2.4125279248em 7px rgba(0, 12, 255, 0.9), 2.3870077074em 2.1580786949em 7px rgba(25, 0, 255, 0.9), 0.25065841em 0.0208018456em 7px rgba(255, 153, 0, 0.9), 2.4206991673em 1.6165552124em 7px rgba(0, 255, 174, 0.9), 0.1399374984em 0.6036267655em 7px rgba(253, 0, 255, 0.9), 0.1445855147em 2.2048018046em 7px rgba(0, 255, 75, 0.9), -0.4107047906em -0.1974927787em 7px rgba(0, 255, 36, 0.9), 1.8751792426em 0.1441159198em 7px rgba(255, 0, 23, 0.9), 2.2812469561em 0.3759316298em 7px rgba(0, 138, 255, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
  z-index: 1;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

body{
  margin: 0;
  z-index: 1;
}

#bannerImg{
  width: 25%;
  display: block;
  margin-left: 2vw;
}

.main_container{
  display: block;
  width: 100%;
  margin: 0;
  z-index: 99;
  position: fixed;
  margin-top: 3%;
}

.main_section{
  display: flex;
  justify-self: center;
  margin: 0;
  width: 90%;
}

.image_block{
  background-color: rgb(46, 57, 68, 0.5);
  width: 60%;
  color: black;
  padding: 1.5vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.info_block{
  background-color: rgb(33, 42, 49, 0.5);
  width: 40%;
  color: black;
  padding: 1.5vw;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.banner{
  z-index: 0;
}

.drop_container{
  background-color: rgb(255, 255, 255, 0.2);
  width: 90%;
  display: block;
  margin: auto;
  padding: 2vw;
}

#run_btn{
  display: inline-block;
  margin: auto;
  background-color: #d3d9d4;
  border: none;
  z-index: 100;
  font-size: 2vw;
  margin-top: 2vh;
  width: 40%;
  margin-left: 2.5vw;
  border-radius: 5px;
  transition: 0.3s;
}

#run_btn:hover{
  cursor: pointer;
  background-color: #688FE8;
}

.terminal{
  width: 70%;
  height: 10vh;
  display: block;
  margin: auto;
  margin-top: 3vh;
  z-index: 10;
}

#imagePreview {
  max-width: 100%;
  max-height: 400px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

#dwn_btn{
  width: 40%;
  display: inline-block;
  margin: auto;
  background-color: #d3d9d4;
  border: none;
  z-index: 100;
  font-size: 2vw;
  margin-top: 2vh;
  border-radius: 5px;
  transition: 0.3s;
}

#dwn_btn:hover{
  cursor: pointer;
  background-color: #688FE8;
}


/*Color Scheme: #212A31 , #2E3944 , #124E66 , #748D92 , #D3D9D$ */